* {
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
}

html,
body {
	height: 100svh;
}

main {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	gap: 1rem;
	padding: 1rem;
}

main > div:nth-child(1) {
	display: grid;
	grid-template-rows: 7fr 3fr;
	gap: 1rem;
}

textarea {
	width: 100%;

	resize: none;
	overflow-y: scroll;
	tab-size: 2ch;

	padding: 0.5rem;
}

main > div:nth-child(2) {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 1rem;
}

.border {
	border: 1px solid black;
}

.controls {
	display: flex;
	gap: 2rem;

	padding: 1rem;
}

#output-errors {
	padding: 0.5rem;
}

svg {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.floor,
text.area {
	transition: fill 0.3s ease;
}

g.flat {
	transition: opacity 0.3s ease;
}

g.flat:not(#flat-999) {
	cursor: pointer;
}

g.flat:not(#flat-999):hover .floor {
	fill: #ffffff;
}

g.flat:not(#flat-999):hover text.area {
	fill: black;
}

#flat-999 .floor {
	fill: #eeeeee;
}

#flat-999 text.area {
	display: none;
}

svg:has(g.flat:not(#flat-999):hover) g.flat:not(:hover) {
	opacity: 0.5;
}

p[data-plan-error-level="note"] {
	color: #000066;
}

p[data-plan-error-level="warn"] {
	color: #996600;
}

p[data-plan-error-level="error"] {
	color: #990000;
}
