@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	transition: opacity 0.3s ease;
}

body {
	margin: 0;

	font-family: 'Inter';

	width: 1320px;
	margin: auto;
}

main {
	margin-top: 60px;
}

.hide {
	display: none !important;
}

h1 {
	font-size: 3rem;

	margin-block: 1rem;
}

section.chooser {
	display: grid;
	grid-template-columns: 8fr 1fr;
	grid-template-rows: 6rem 800px;

	& > h1 {
		grid-row: 1;
		grid-column: 1 / 3;
	}

	& > div.plan {
		& > svg {
			width: 100%;
			height: 100%;

			& g.flat:not(#flat-999) {
				cursor: pointer;
			}

			&:has(g.flat:not(#flat-999):hover) {
				& g.flat:not(:hover) {
					opacity: 0.5;

					& use.furniture {
						opacity: 0;
					}
				}
			}
		}
	}

	& > div.floors {
		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;

		& > p {
			font-weight: 600;
		}

		& > ul {
			margin: 0;
			padding: 0;

			display: flex;

			flex-direction: column;
			gap: 1em;

			list-style: none;

			& > li {
				width: 3em;
				height: 3em;
				border-radius: 100%;
				background: #eeeeee;

				text-align: center;
				align-content: center;

				&.current {
					background: #d2f0c5;
				}
			}
		}
	}
}

div.tooltip {
	position: absolute;

	background: #ffffff;
	border-radius: 1rem;
	padding: 0.5rem 1.5rem;

	pointer-events: none;

	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

	& > p.click {
		font-size: 0.75em;
	}

	& > p:first-child {
		font-size: 1.25em;
	}

	& [data-param] {
		font-weight: 600;
	}
}

section.apartment-card {
	display: grid;
	grid-template-rows: 6rem 800px;

	& > div.plan {
		display: flex;
		justify-content: center;
		align-items: center;

		& > svg {
			width: 80%;
			height: 80%;
		}
	}
}

button {
	position: relative;
	z-index: 1;

	border: 0;
	border-radius: 16px;
	padding: 0.5rem 1.5rem;

	font-size: 1.5rem;
	font-family: 'Inter';
	background: #eeeeee;

	cursor: pointer;

	transition: box-shadow 0.3s ease, background-color 0.3s ease;

	&:hover {
		background: #d2f0c5;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}
}

text.area {
	font-size: 400px;
}

g#flat-1 {
	& g.room:nth-child(1) text.area {
		translate: 200px -800px;
	}

	& g.room:nth-child(2) text.area {
		translate: -600px 0;
	}

	& g.room:nth-child(3) text.area {
		translate: -200px -100px;
	}
}

g#flat-2 {
	& g.room:nth-child(1) text.area {
		translate: -200px -800px;
	}

	& g.room:nth-child(2) text.area {
		translate: 600px 0;
	}

	& g.room:nth-child(3) text.area {
		translate: 500px -100px;
	}
}

g#flat-3,
g#flat-4,
g#flat-6 {
	& g.room:nth-child(1) text.area {
		translate: 500px 200px;
	}

	& g.room:nth-child(2) text.area {
		translate: 200px 200px;
	}

	& g.room:nth-child(3) text.area {
		translate: 200px 200px;
	}
}

g#flat-5,
g#flat-7,
g#flat-8 {
	& g.room:nth-child(1) text.area {
		translate: -500px 200px;
	}

	& g.room:nth-child(2) text.area {
		translate: -200px 200px;
	}

	& g.room:nth-child(3) text.area {
		translate: -200px 200px;
	}
}

g#flat-999 {
	& .floor {
		fill: #fafafa;
	}

	& text.area {
		display: none;
	}
}